{% extends "network/layout.html" %}

{% block body %}
<div class="container mt-4">
    <h1>All Posts</h1>

    <!-- New Post Form -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">New Post</h2>
            <form method="post" action="{% url 'create_post' %}">
                {% csrf_token %}
                <textarea name="content" rows="3" class="form-control mb-3" placeholder="What's on your mind?"></textarea>
                <button type="submit" id="sub-button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- All Posts -->
    <div>
        {% for post in page_obj %}
            <div class="card mb-3">
                <div class="card-body">
                    <!-- Username -->
                    <h5><a href="{% url 'profile' post.user.username %}" class="text-decoration-none">{{ post.user.username }}</a></h5>

                    <!-- Space -->
                    <div style="height: 10px;"></div>

                    <!-- Edit Button -->
                    {% if post.user == request.user %}
                    <button class="btn btn-sm btn-outline-secondary edit-button" data-post-id="{{ post.id }}">Edit</button>
                    {% endif %}

                    <!-- Post Content -->
                    <p class="card-text" id="post-content-{{ post.id }}">{{ post.content }}</p>

                    <!-- Timestamp -->
                    <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>

                    <!-- Like and Comment Buttons -->
                    <div class="mt-2">
                        <div class="d-flex align-items-center">
                            <button class="heart-button mr-2" data-post-id="{{ post.id }}">
                                <i class="fas fa-heart"></i>
                            </button>
                            <span class="text-muted" id="likes-count-{{ post.id }}">{{ post.likes.count }}</span>
                        </div>
                        <div>    
                            <button class="mod btn btn-sm text-muted" >Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts yet. Be the first to post!</p>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endblock %}