body{
    font-family: Arial,sans-serif;
}

.image{
    position:absolute;
    top:10px;
    right: 10px;
 }

 .advanced{
    position:absolute;
    top:10px;
    right: 70px;
 }

 .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bar {
    border-radius: 10px;
    margin: 5px;
    width: auto;
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #dfe1e5; /* Light gray border */
    color: #3c4043; /* Dark gray text */
    padding: 10px 20px; /* Add padding for better appearance */
    font-size: 14px; /* Adjust font size */
}

.buttoncon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line{
    border-bottom: 1px solid #ebebeb;
}

.GF{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.align {
    clear:both;
}

.align2 {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.align3 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.align4 {
    display: flex;
    width: 100%;
    clear: both;
    align-items: center;
}

.align5 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}

.alignbox {
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.facade {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.pad {
    padding-right: 16px;
}

.bara {
    width: 100%;
    text-align: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

input:focus {
    border-color: blue;
    outline-color: blue;
}

.submit {
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.jfk-button {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}